<a href="https://www.kaggle.com/bandhansingh/predict-salaries-linear-reg?scriptVersionId=88502475" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

Predict salary for:-

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

!pip install word2number
from word2number import w2n

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... - done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... - \ done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5580 sha256=81297f0f21057e8f95ab79e4ea2802851f88ff54971d5a294d5b3e95c8187e8b
  Stored in directory: /root/.cache/pip/wheels/4b/c3/77/a5f48aeb0d3efb7cd5ad61cbd3da30bbf9ffc9662b07c9f879
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
df = pd.read_csv("../input/hiring/hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [3]:
#preprocessing of data
df.experience = df.experience.fillna("zero")

In [4]:
import math
test_score_mean = math.floor(df['test_score(out of 10)'].mean())

df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(test_score_mean)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    7.0                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [6]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']], df['salary($)'])

LinearRegression()

In [7]:
# 2 yr experience, 9 test score, 6 interview score
reg.predict([[2,9,6]])

array([53713.86677124])

In [8]:
# 12 yr experience, 10 test score, 10 interview score
reg.predict([[12,10,10]])

array([93747.79628651])